// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.


//Font icon
// .fa {
//    font-family: "FontAwesome";
// }

$Gray-Background:  rgb(199, 192, 192);

.fa {
   font-family: "FontAwesome";
   color: $accent-dark;
   font-size: 25;
}
.faSmall {
   font-family: "FontAwesome";
   color: $accent-dark;
   font-size: 18;
}
.info {
   font-size: 20;
   height: 30;
   padding: 1;
}
.infoSmall {
   font-size: 15;
   height: 25;
}