<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308390253585-vppfq9q422u2g77e71nff8sk8poktv7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308390253585-vppfq9q422u2g77e71nff8sk8poktv7e</string>
	<key>API_KEY</key>
	<string>AIzaSyBIL-rCZGhtuYwjd-WauWzVYxu7p-gaDyU</string>
	<key>GCM_SENDER_ID</key>
	<string>308390253585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frederictorres.VueNSApp</string>
	<key>PROJECT_ID</key>
	<string>fredtodo-f553b</string>
	<key>STORAGE_BUCKET</key>
	<string>fredtodo-f553b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308390253585:ios:10cdcf5643078662</string>
	<key>DATABASE_URL</key>
	<string>https://fredtodo-f553b.firebaseio.com</string>
</dict>
</plist>